export SPRING_PROFILES_ACTIVE=development

export S3_ACCESSKEY=<FILL_ME_IN>
export S3_SECRETKEY=<FILL_ME_IN>
export S3_BUCKETNAME=<FILL_ME_IN>

export EUREKA_CLIENT_ENABLED=false
export RIBBON_EUREKA_ENABLED=false

export ALBUM_SERVICE_RIBBON_LISTOFSERVERS=http://localhost:8081
export MOVIE_SERVICE_RIBBON_LISTOFSERVERS=http://localhost:8082

export MOVIES_PAGESIZE=6
